*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#003366;
    color:white;
    text-align:center;
    padding:25px;
}

nav{
    display:flex;
    justify-content:center;
    gap:30px;
    background:#0055aa;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav a:hover{
    color:yellow;
}

.content{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:40px;
}

.card{
    width:300px;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    color:#003366;
    margin-bottom:15px;
}

.card p{
    line-height:1.6;
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:20px;
}

header{
    animation:fadeIn 2s;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        align-items:center;
    }

    .content{
        flex-direction:column;
        align-items:center;
    }
}