body {
    margin: 0;
}

.hero {
    height: 100vh;
    background-color: rgb(2, 67, 88);
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: rgb(247, 247, 247);
    text-align: center;
    padding-top: 200px;
    font-family: Arial, sans-serif;
}